@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --grisoscuro: rgb(24,24,24);
    --grismasoscuro: rgb(20,20,20);
    --grisclarito: rgb(56,56,56);
    --otrogris: #232323;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* HEADER -----------------------------------------------------------------------------------------------*/

#wrapper>header {
    width: 100%;
    height: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
}

/* HEADER / MENU E IMAGEN DEL MENU ----------------------------------------------------------------------*/

#logo {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
      
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

#logo>a>img {
    width: 5.8em;
    border-radius: 50%;
}

#logo:hover {
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}

#menu {
    width: 70%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#menu>ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4em;
    list-style: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#menu>ul>li {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.3em;
}

#menu>ul>li>a {
    text-decoration: none;
    color: white;
}

#menu>ul>li>a:hover {
    border-bottom: 3px solid white;
    -webkit-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

/* HEADER / REDES ---------------------------------------------------------------------------------- */

#redes {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
}

#redes>ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.3em;
    list-style: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 1em;
}

#redes>ul>li>a {
    font-size: 1.5em;
    color: white;
}

#redes>ul>li:nth-of-type(1)>a:hover {
    color: red;
    -webkit-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
}

#redes>ul>li:nth-of-type(2)>a:hover {
    color: RoyalBlue;
    -webkit-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
}

#redes>ul>li:nth-of-type(3)>a:hover {
    color: deeppink;
    -webkit-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
}

#redes>ul>li:nth-of-type(4)>a:hover {
    color: cyan;
    -webkit-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
}

#redes>ul>li:nth-of-type(5)>a:hover {
    color: lime;
    -webkit-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
}

/* MAIN ---------------------------------------------------------------------------------------- */

#banner {
    background-attachment: fixed;
    width: 100%;
    height: 35em;
    background-image: url("../img/banner2.jpg");
    background-size: cover;
}

/* MAIN / HISTORIA */

#historia {
    width: 100%;
    font-family: 'Readex Pro', sans-serif;
    background-color: var(--grisoscuro);
    color: white;
}

#historia>h2 {
    margin-top: 0;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 2.8em;
}

#historia>article {
    padding-left: 1.4em;
    font-size: 1em;
    margin-right: 1.4em;
}

#historia>article:nth-of-type(2) {
    padding-bottom: 2em;
}

#historia>article>h2 {
    margin-top: 0;
    padding-top: 1em;
    padding-left: 0.6em;
    font-size: 2.8em;
    margin-bottom: 1em;
}

/* COMPONENTES */

.componentes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.componentes>div {
    width: 25%;
    height: 100%;
    padding-bottom: 2em;
}

.componentes>div>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.componentes>div>div>span {
    width: 210px;
    height: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#AF40FF), color-stop(50%, #5B42F3),to(#00DDEB));
    background-image: -o-linear-gradient(top,#AF40FF, #5B42F3 50%,#00DDEB);
    background-image: linear-gradient(180deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-radius: 10px;

}

.componentes>div>h3 {
    width: 100%;
    height: 20%;
    text-align: center;
    color: var(--grisclarito);
}

.componentes>div>h3>i {
    font-size: 1.5em;
    color: whitesmoke;
}

.componentes>div>div>span>a>img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 10px;
}

.componentes>div>div>span>a>img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


/* FOOTER */

footer {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Readex Pro', sans-serif;
}

footer>h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 5em;
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, red), color-stop(45%, yellow), color-stop(50%, green), color-stop(55%, blue), color-stop(65%, purple));
    background: -o-linear-gradient(left, red 35%, yellow 45%, green 50%, blue 55%, purple 65%);
    background: linear-gradient(90deg, red 35%, yellow 45%, green 50%, blue 55%, purple 65%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    margin: 0;
}


#marcas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 7em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
}

#marcas>a>img {
    width: 8em;
    height: 8em;
    opacity: 1;
    -webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#marcas>a>img:hover {
    opacity: .5;
}

footer>p {
    text-align: center;
    letter-spacing: 3px;
}

footer>hr {
    width: 97%;
}

#final {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.8em;
}

#final>p {
    margin: 0;
    font-size: 10px;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

/* ICONO SUBIR */

#subir {
    font-size: 3em;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 40px;
    background: -webkit-gradient(linear,left top, right top,from(#AF40FF), color-stop(50%, #5B42F3),to(#00DDEB));
    background: -o-linear-gradient(left,#AF40FF, #5B42F3 50%,#00DDEB);
    background: linear-gradient(90deg,#AF40FF, #5B42F3 50%,#00DDEB);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    -webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#subir:hover{
    font-size: 3.3em;
    background: -webkit-gradient(linear,right top, left top,from(#AF40FF), color-stop(50%, #5B42F3),to(#00DDEB));
    background: -o-linear-gradient(right,#AF40FF, #5B42F3 50%,#00DDEB);
    background: linear-gradient(270deg,#AF40FF, #5B42F3 50%,#00DDEB);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}